body {
    background-color: #0a0a23;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: #f0e4d0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#game-container {
    background-color: #C5A37D; /* Color arena de tu imagen */
    width: 500px;
    padding: 20px;
    border: 3px solid #5D4037;
    border-radius: 5px;
}

#stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-box {
    border: 2px solid #5D4037;
    padding: 10px;
    background-color: #C5A37D;
    flex: 1;
    text-align: center;
    font-weight: bold;
}

#escena-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

#texto {
    background-color: #FDEBD0; /* Color crema */
    padding: 20px;
    min-height: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid #bdc3c7;
    color: #5D4037;
}

#controles {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    background-color: #5D4037;
    color: white;
    border: 1px solid #FDEBD0;
    border-radius: 10px;
    padding: 15px 5px;
    cursor: pointer;
    flex: 1;
    font-size: 14px;
}

button:hover {
    background-color: #795548;
}